In [38]:

from bs4 import BeautifulSoup
import pandas as pd
import requests
headers_std = {
'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2490.80 Safari/537.36',
'Content-Type': 'text/html',
}

URL = ("https://www.flipkart.com/search?q=iphones&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")
html = requests.get(URL,headers=headers_std).text

soup = BeautifulSoup(html, 'lxml')

In [39]:
products=[]
prices=[]

In [40]:

for a in soup.findAll('div',{'class':'_3O0U0u'}):
    name=a.find('div',{'class':'_3wU53n'})
    products.append(name.text)
    price=a.find('div',{'class':'_1vC4OE _2rQ-NK'})
    prices.append(price.text)

In [41]:
df = pd.DataFrame({'name':products,'Price':prices}) 
df.to_csv(r'C:\Users\dell\Desktop\flipkartphone.csv', index=False, encoding='utf-8')
df.head(10)

                              name    Price
0   Apple iPhone SE (Black, 64 GB)  ₹42,500
1   Apple iPhone SE (White, 64 GB)  ₹42,500
2     Apple iPhone SE (Red, 64 GB)  ₹42,500
3   Apple iPhone 11 (Black, 64 GB)  ₹68,300
4   Apple iPhone 11 (White, 64 GB)  ₹68,300
5    Apple iPhone 7 (Black, 32 GB)  ₹29,499
6  Apple iPhone 11 (Green, 128 GB)  ₹73,600
7  Apple iPhone 11 (Black, 128 GB)  ₹73,600
8   Apple iPhone XR (Black, 64 GB)  ₹52,500
9  Apple iPhone 11 (White, 128 GB)  ₹73,600